
<select id="inds">
		<option value="btc_usd" selected="selected">USD/BTC</option>
		<option value="btc_eur">EUR/BTC</option>
		<option value="btc_rur">RUB/BTC</option>
</select>
<!-- <svg width="960" height="500"></svg> -->

<!-- <div id="showAll">
	<input name="showAllButton"
	 type="button"
	 value="Show All"
	 onclick="showAll()" />
</div>
<div id="clearAll">
	<input name="clearAllButton"
	 type="button"
	 value="Clear All"
	 onclick="clearAll()" />
</div> -->
