<div class="jumbotron">
  <h1>Цена BTC на бирже BTC-e</h1>
  <p>Выберете тикер</p>
  <div class = "panel">
    <select class "form-control" id="inds">
      		<option value="btc_usd" selected="selected">USD/BTC</option>
      		<option value="btc_eur">EUR/BTC</option>
      		<option value="btc_rur">RUB/BTC</option>
    </select>
  </div>
  <div id = "sidekiq">
    <%= link_to "Sidekiq панель", sidekiq_web_path %>
  </div>

</div>
